*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
/*Body styles*/
body {
    font-family: "Open Sans", sans-serif;
    background-color: #040404;
    color: #fff;
    position: relative;
    background: transparent;
    margin-left: 30px;
  }
  body::before {
    content: "";
    position: fixed;
    background: linear-gradient(rgba(0, 0, 0, 0.569), rgba(0, 0, 0, 0.493)), url("../img/DSC_0715.JPG") top right no-repeat;
    background-size: cover;
    left: 0;
    right: 0;
    top: 0;
    height: 100vh;
    z-index: -1;
  }
  .container .info a{
    text-decoration: none;
    display: inline-block;
    background-color: rgb(102, 52, 98);
    border-radius: 4px;
    font-size: 20px;
    padding: 0.5em 2em;
    color: white;
    background-attachment: fixed;
    margin-left: 30px;
  }
  
  @media (min-width: 1024px) {
    body::before {
      background-attachment: fixed;
    }
  }
  
  a {
    color: #7e18d2;
    text-decoration: none;
  }
  
  a:hover {
    color: #8e35e8;
    text-decoration: none;
  }

h1,h2,h3,h4,h5,h6 {
  font-family: "Raleway", sans-serif;
}

/*Navigation Menu*/
/*Desktop Navigation */
.navbar {
    padding: 0;
    margin-top: 0px;
    text-align: center;
  }
  
  .navbar ul {
    
    margin: 0;
    padding: 30px;
    display: flex;
    list-style: none;
    align-items: center;
  }
  
  .navbar li {
    position: relative;
  }
  
  .navbar li+li {
    margin-left: 30px;
  }
  
  .navbar a,
  .navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.7);
    white-space: nowrap;
    transition: 0.3s;
  }
  
  .navbar a:before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -4px;
    left: 0;
    background-color: #8b18d2;
    visibility: hidden;
    width: 0px;
    transition: all 0.3s ease-in-out 0s;
  }
  
  .navbar a:hover:before,
  .navbar li:hover>a:before,
  .navbar .active:before {
    visibility: visible;
    width: 25px;
  }
  
  .navbar a:hover,
  .navbar .active,
  .navbar .active:focus,
  .navbar li:hover>a {
    color: #fff;
  }
  
  /*Mobile Navigation*/
  .mobile-nav-toggle {
    color: #fff;
    font-size: 28px;
    cursor: pointer;
    display: none;
    line-height: 0;
    transition: 0.5s;
    position: fixed;
    right: 15px;
    top: 15px;
  }
  
  @media (max-width: 991px) {
    .mobile-nav-toggle {
      display: block;
    }
  
    .navbar ul {
      display: inline-flex;
    }
  }
  
  .navbar-mobile {
    position: fixed;
    overflow: hidden;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.9);
    transition: 0.3s;
    z-index: 999;
    margin-top: 0;
  }
  
  .navbar-mobile .mobile-nav-toggle {
    position: absolute;
    top: 15px;
    right: 15px;
  }
  
  .navbar-mobile ul {
    display: block;
    position: absolute;
    top: 55px;
    right: 15px;
    bottom: 45px;
    left: 15px;
    padding: 10px 0;
    overflow-y: auto;
    transition: 0.3s;
    border: 2px solid rgba(255, 255, 255);
  }
  
  .navbar-mobile li {
    padding: 12px 20px;
  }
  
  .navbar-mobile li+li {
    margin: 0;
  }
  
  .navbar-mobile a,
  .navbar-mobile a:focus {
    font-size: 16px;
    position: relative;
  }

  /*contact section*/

  .section-title h2 {
    font-size: 14px;
    font-weight: 500;
    padding: 0;
    line-height: 1px;
    margin: 0 0 20px 0;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #ffffff;
    font-family: "Poppins", sans-serif;
  }
  
  .section-title h2::after {
    content: "";
    width: 120px;
    height: 1px;
    display: inline-block;
    background: #8b18d2;
    margin: 4px 10px;
  }
  
  .section-title p {
    margin: 0;
    margin: -15px 0 15px 0;
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    color: #fff;
  }

  /*Form section*/
  
  .contact .php-email-form {
    padding: 30px;
    background: rgba(3, 3, 3, 0.486);
    margin-right: 30px;
  }
  
  .contact .php-email-form input,
  .contact .php-email-form textarea {
    border-radius: 0;
    box-shadow: none;
    font-size: 14px;
    background: rgba(255, 255, 255, 0.08);
    border: 0;
    transition: 0.3s;
    color: #fff;
  }
  
  .contact .php-email-form input:focus,
  .contact .php-email-form textarea:focus {
    background-color: rgba(255, 255, 255, 0.229);
  }
  
  .contact .php-email-form input::-moz-placeholder,
  .contact .php-email-form textarea::-moz-placeholder {
    color: rgba(255, 255, 255, 0.3);
    opacity: 1;
  }
  
  .contact .php-email-form input::placeholder,
  .contact .php-email-form textarea::placeholder {
    color: rgba(255, 255, 255, 0.3);
    opacity: 1;
  }
  
  .contact .php-email-form input {
    padding: 10px 15px;
    margin-bottom: 20px;
  }
  
  .contact .php-email-form textarea {
    padding: 12px 15px;
  }
  
  .contact .php-email-form button[type=submit] {
    background: #8518d2;
    border: 0;
    padding: 10px 30px;
    margin-top: 20px;
    color: #fff;
    transition: 0.4s;
    border-radius: 4px;
  }
  
  
  @-webkit-keyframes animate-loading {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes animate-loading {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }
  
  
  
  